.simple {
  width: 40%;
  background-color: white;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.first {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
.first label{
  font-size: large;
  font-weight: bold;
}
.first input {
  width: 65%;
  height: 30px;
  margin-top: 5px;
}
.simple button {
  width: 30%;
  align-self: flex-end;
  border: none;
  height: 40px;
  cursor: pointer;
  border-radius: 10px;
  background-color: purple;
  color: white;
  font-weight: bold;
}

.simple button:disabled{
  color: white;
  background-color: rgb(124, 125, 125);
}
